.app {
  display: flex;
  flex-direction: column;
  margin: 9.313rem 6.25rem 11.75rem 6.25rem;
  padding-bottom: 11.75rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}